*{
    margin: 0;
    padding: 0;
    
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
/* FONDO Y LETRAS DE TODO EL ARCHIVO EN GENERAL*/
    background-image: url(../imgs/fondooscuro.png);
    background-color: rgb(17, 17, 17);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div{/*Creo que no va*/
    align-items: center;
    display: flex;
    justify-content: center;
}
td img{/*Imagenes de las listas redondas*/
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td{/*configuracion tabla general*/
    padding: 1rem;
    border-collapse: collapse;
    text-align: center;
    
}


main.table {
    width: 100vw;
    height: 60vh;
    background-color: #fff5;
    backdrop-filter:blur(7px) ;
    box-shadow: 0 .4rem .8 #0005 ;
    border-radius: .8rem;
}


.table__header{
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
}
.table__body{
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    
}
.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.table__body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

    table {
        width: 100%; /* Garantizar que la tabla ocupe todo el ancho del contenedor */
         /* Fijar el ancho de las columnas */
        border-collapse: collapse;
    }
   
    

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}
tbody tr:nth-child(even){
    background-color: #0000000b;
}

tbody tr:hover{
    background-color: #fff6;
}

#pole{
    background-color: rgba(255, 0, 0, 0.234);
    padding: .4rem 0;
    text-align: center;
}
#fl{
    background-color: rgba(132, 0, 255, 0.234);
    padding: .4rem 0;
    text-align: center;
}
#wc{
    background-color: rgb(255, 208, 0,0.234);
    padding: .4rem 0;
    text-align: center;
}
@media (max-width:1000px){
    td:not(:first-of-type){
        min-width: 12.1rem;
    }
}
/* Cambios específicos para dispositivos móviles */
@media (max-width: 1081px) {
    /* Hacer que las imágenes de las celdas sean más pequeñas */
    td img {
      width: 18px;
      height: 18px;
    }
  
    /* Ajustar el tamaño de la fuente para dispositivos móviles */
    h1 {
      font-size: 24px;
    }
  
    /* Ajustar el ancho de las celdas */
    td:not(:first-of-type) {
      min-width: 8rem;
      font-size: 12px; /* Reducir el tamaño de la fuente para celdas en dispositivos móviles */
   
    }
      table{
        table-layout: fixed;

      }
 
  }
h1{
    font-size: 34px;
}


body>h1{
    margin-top:0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 #logo {/*Configuracion logotipo*/
    max-width: 150px; /* Cambiar el tamaño máximo según sea necesario */
    width: 100%;
    height: auto;
}
a{/*e aqui hasta abahoConfiguracion de link y foto para volver atras*/
    color: aliceblue;
    text-decoration: none;
    font-size: 22px;
    transition: all 1s;
}
a:hover{
    font-size: 24px;

}
a img:hover{
    transform: scale(1.1);
    transition: all 1s;
}
.empty-space {
    height: 100px; /* Ajusta la altura según tu preferencia */
}